db.sqlite3
modeloapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories/migrations/*
/apps/categories/pycache/*
/apps/categories/migrations/*
/apps/socialnetworks/__pycache__/*
/apps/socialnetworks/migrations/*