{% extends 'base.html' %}
{% load static %}
    {% block title %}
    {{ block.super }}
    {% endblock title %}
{% block body %}
{{ block.super }}
<header>
    <div class="post">
        <a href="https://www.dell.com/pt-br/shop/deals/top-ofertas?gacd=9657105-15013-5761040-275878141-0&dgc=ST&cid=71700000101914259&gad_source=1&gclid=EAIaIQobChMIoJbJtP7sggMVn15IAB0O_wgIEAAYAiAAEgLhMfD_BwE&gclsrc=aw.ds">
            <img class="img-post" src="{% static 'img/black-friday.svg' %}" alt="post">           
        </a>
    </div>
    <div class="carrinho">
        <a href="../pedidos">
            <img class="img-carrinho" src="{% static 'img/carrinho.svg' %}" alt="carrinho"> 
        </a>
    </div>
</header>
<main>
    <ul class="principais-tags">
        <li class="tags">
            <div class="informacoes">
                <span>Onde estamos localizados?</span>
            </div>
            <a href="https://www.google.com/maps/place/cafund%C3%B3+de+judas/@26.8205617,30.7999134,17z/data=!3m1!4b1!4m6!3m5!1s0x1444370e3cde0e59:0xcc923a4e275307ab!8m2!3d26.8205569!4d30.8024883!16s%2Fg%2F11vcv8_rcx?authuser=0&entry=ttu">
                <!-- <svg class="img-tags" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-720v-80h640v80H160Zm0 560v-240h-40v-80l40-200h640l40 200v80h-40v240h-80v-240H560v240H160Zm80-80h240v-160H240v160Zm-38-240h556-556Zm0 0h556l-24-120H226l-24 120Z"/></svg> -->
               <img class="img-tags" src="{% static 'img/nossa-loja.svg' %}" alt="Nossa loja">
            </a>
            <p class="descricao">Nossa loja física é localizada em uma província do Egito com a sede em Carga. Possui
                440 098 quilômetros quadrados, sendo a maior província egípcia em área territorial e segundo censo de
                2018, havia 247 140 habitantes..</p>
        </li>
        <li class="tags">
            <div class="informacoes">
                <span>Nossos produtos</span>
            </div>
            <a href="../produtos">
               <img class="img-tags" src="{% static 'img/produtos.svg' %}" alt="Nossa loja">
            </a>
            <p class="descricao">Explore um mundo de tecnologia de ponta e desempenho extraordinário com nossas
                incríveis ofertas em produtos eletrônicos. De laptops potentes a acessórios inteligentes, temos tudo o
                que você precisa para elevar sua experiência tecnológica.</p>
        </li>
        <li class="tags">
            <div class="informacoes">
                <span>CAC</span>
            </div>
            <a href="mailto:andre.lini.estevam@gmail.com">
               <img class="img-tags" src="{% static 'img/atendimento-ao-cliente.svg' %}" alt="CAC">
            </a>
            <p class="descricao">Em um mundo que nunca para, oferecemos a você a tranquilidade de um atendimento que não conhece limites de horários. Com nossa equipe dedicada disponível 24 horas por dia, 7 dias por semana, estamos aqui para atender às suas necessidades a qualquer momento.</p>
        </li>
    </ul>
</main>
{% endblock body %}
    
</body>