{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Adicionar Cliente - {{ block.super }}
{% endblock title %}

{% block body %}
{{ block.super }}

    <div class="container">
        <br />
        <h5><b>Adicionar Novo Cliente</b></h5>
        <div class="row">
            <div class="col-md-12">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.first_name.id_for_label }}">Nome</label>
                        {{ form.first_name|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.last_name.id_for_label }}">Sobrenome</label>
                        {{ form.last_name|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.address.id_for_label }}">Endereço</label>
                        {{ form.address|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.cell_phone.id_for_label }}">Telefone Celular</label>
                        {{ form.cell_phone|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">E-mail</label>
                        {{ form.email|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.gender.id_for_label }}">Gênero</label>
                        {{ form.gender|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}